.menu-container {
    margin-top: 0 !important;
}
.menu-container > div:nth-child(2){
    display: flex !important;
    align-items: center;
    justify-content: center;
}
.menu-info {
    width: 580px !important;
    padding: 40px !important;
}
.menu-container h1, .menu-container h3{
    text-transform: uppercase;
    color: var(--light-yellow)
}
.menu-container.ui.grid {
    margin-left: 0;
    margin-right: 0;
    overflow: hidden;
}
.menu-info table {
    width: 100%;
}
.menu-info table td {
    width: 50%;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
}
.menu-info table td.precio {
    text-align: right;
}
.menu-info button.ui.button.cta {
    margin-top: 20px;
    background-color: var(--blue);
    color: white;
    text-transform: uppercase;
    font-size: 20px;
}
.menu-info button.ui.button.cta:hover{
    background-color: var(--dark-blue);
}


@media screen and (min-width: 768px) and (max-width: 1240px){
    .menu-block {
        background-color: white;
        background-image: none !important;
        border: 0 !important;
    }
    .menu-block .ui.segment {
        -webkit-box-shadow: none !important;;
        box-shadow: none!important;
        border: 0 !important;
    }
    .menu-container img.ui.fluid.image {
        width: 130% !important;
        max-width: 130% !important;
    }
    .menu-info {
        width: 100% !important;
        padding: 20px !important;
    }
    .menu-info table td {
        font-size: .8rem;
        line-height: .8rem;
    }
    .menu-container h1{
        font-size: 1.3rem;
    }
    .menu-container h3, .menu-info button.ui.button.cta{
        font-size: 1rem;
    }
}

@media screen and (min-width: 900px) and (max-width: 1240px){
    .menu-info table td {
        font-size: 1rem;
        line-height: 1rem;
    }
    .menu-container h1{
        font-size: 1.5rem;
    }
    .menu-container h3, .menu-info button.ui.button.cta{
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 767px){
    .ui.stackable.grid>.column:not(.row){
        padding: 0 !important;
        overflow: hidden;
    }
    .menu-container > div:nth-child(1){
        max-height: 200px;
    }
    .menu-container > div:nth-child(1) img{
        margin-top: -40%;
    }
}