.ui.grid.two-halves {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    overflow: hidden;
}
.two-halves > div{
    display: flex !important;
    align-items: center;
    justify-content: center;
}
@media screen and (min-width: 768px) and (max-width: 1240px){
    .two-halves h1{
        font-size: 1.5rem;
    }
    .two-halves h3{
        font-size: 1rem;
    }    
}
@media screen and (min-width: 900px) and (max-width: 1240px){
    .two-halves h1{
        font-size: 1.8rem;
    }
    .two-halves h3{
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 767px){
    .ui.stackable.grid>.column:not(.row){
        padding: 0 !important;
        overflow: hidden;
    }
}