.full-background.ui.image {
    width: 100%;
}
.contacto-info h2, .contacto-info h3{
    text-transform: uppercase;
    color: var(--light-yellow)
}
.contacto-info {
    width: 560px !important;
    max-width: 560px !important;
    padding: 40px !important;
}
.contacto-info ul {
    list-style: none;
    padding-left: 0;
}
.contacto-info ul li{
    font-size: 1rem;
    font-family: monospace;
}
.ui.two.column.stackable.grid.mas-info {
    margin: 0 !important;
}
.contacto-info .mas-info a {
    color: #333;
    font-weight: bold;
}
.contacto-info button.ui.green.button {
    font-size: 16px;
    text-transform: uppercase;
}
@media screen and (min-width: 768px) and (max-width: 1240px){
    .contacto-info.full-background.ui.image img.ui.fluid.image {
        width: 160% !important;
        max-width: 160% !important;
    }
    .contacto-info {
        width: 100% !important;
        padding: 20px !important;
        -webkit-box-shadow: none !important;;
        box-shadow: none!important;
        border: 0 !important;
    }
    .contacto-info table td {
        font-size: .8rem;
        line-height: .8rem;
    }
    .contacto-info button.ui.button.cta{
        font-size: 1rem;
    }
}
@media screen and (min-width: 900px) and (max-width: 1240px){
    .contacto-info table td {
        font-size: 1rem;
        line-height: 1rem;
    }
    .contacto-info button.ui.button.cta{
        font-size: 1.2rem;
    }
}